################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SHAProject/FileContentIndex/0ad3ee91-4a5d-4b3e-a899-8f604c5ebe43.vsidx
/.vs/SHAProject/FileContentIndex
